*.iml
*.keystore
*.old
*.patch
*.pyc
*.swp
.DS_Store
.classpath
.editorconfig
.env
.gradle
.idea
.project
.ragsage
.settings
.smsecure-l10n
.venv
__pycache__/
ant.properties
bin/
build
build-log.xml
build.log
gen/
keystore.properties
lint.xml
local.properties
out
project.properties
signing.properties
